:root{
--verde: #4ec79a;
--celeste: #4cc5d8;
--rosa: #f590b2;
--violeta: #d29bfd;
--gris: #595a5b;
--grisclaro: #fafafa;
--rosaclaro: #fdeaf2;
}
/*aplica a todo*/
*, *:before, *:after {
box-sizing: inherit;
Margin: 0;
Padding: 0;
}
html {/*aplica a todo*/
font-size: 62.5%;
box-sizing: border-box;
scroll-snap-type: y proximity;
}
.servicios,
.navegacion-principal
.formulario {
scroll-snap-align:center;
scroll-snap-stop: always;
}
body{/*aplica a todo*/
font-size: 16px;
font-family: 'Titillium Web', sans-serif;
background-image: linear-gradient(to top, var(--rosaclaro) 0%, var(--grisclaro) 100%);
}
.contenedor {/*aplica a todo*/
max-width: 120rem;
margin: 0 auto;
}
.boton {
background-color: var(--celeste);
color: var(--gris);
padding: 1rem 3rem;
margin-top: 1rem;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
border-radius: .5rem;
width: 80%;
text-align: center;
border: none;
}
@media (min-width: 768px ) {
.boton {
width: auto;
}
}
.boton:hover{
cursor: pointer;
}
.sombra {
-webkit-box-shadow: 0px 5px 15px 0px rgba(20,20,20,0.39);
-moz-box-shadow: 0px 5px 15px 0px rgba(20,20,20,0.39);
box-shadow: 0px 5px 15px 0px rgba(20,20,20,0.39);
background-color: var(--grisclaro);
padding: 2rem;
border-radius: 1rem;
}
/*tamaños fuente*/
h1{
font-size: 4rem;
}
h2 {
font-size: 3rem;
font-weight: 400;
}
h3 {
font-size: 2rem;
font-weight: 600;
}
h1, h2, h3 {
text-align: center;
font-family: 'Titillium Web', sans-serif;
color: var(--gris);
flex-direction: row;
}
/*titulo*/
.titulo-yulia{
background-color: var(--rosa);
font-family: 'Dawning of a New Day', cursive;
font-weight: lighter;
color: var(--grisclaro);
}
.titulo {
font-family: 'Titillium Web', sans-serif;   
}
@media (max-width: 480px) {
.titulo-yulia  {
display: grid;
}
}
/*Utilidades*/
.w-sm-100 { /*en pequeño que tome el 100%*/
width: 100%;
}
@media (min-width: 768px) {
.w-sm-100 {
width: auto;
}
}
.flex {
display: flex;
}
.alinear-derecha {
justify-content: flex-end;
}
.nav-bg {
background-color: var(--grisclaro); /*menu de navegacion*/
} 
.navegacion-principal {
display: flex;
flex-direction: column;
}
@media (min-width: 768px) {
.navegacion-principal {
flex-direction: row;
justify-content: space-between;
}
}
.navegacion-principal a {
color: var(--gris);
text-decoration: none;
font-size: 2rem;
padding: 3rem;
}
@media (max-width: 480px) {
.navegacion-principal a {
padding: 2px;
}
}
.navegacion-principal a:hover {
background-color: var(--verde);
font-weight: 600;
}/*fin de menú de navegacion*/

/*Sección diseño y desarrollo web + Ubicación (Rosario)*/
.hero {
background-image: url(../imagenes/social\ media\ rosario\ fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 500px;
color: #fafafa;
position: relative;
margin-bottom: 2rem;
}
@media (max-width: 768px) {
.hero {
background-position: 100% 0;
}
}
.contenido-hero {
position: absolute;
background-color: rgb(0 0 0 /60%);
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.contenido-hero H2, 
.contenido-hero p {
color: var(--grisclaro);
}

/*Seccion Mis servicios*/
.servicios {
color: #595a5b;
font-weight: 500;
}
.servicios img {
display: flex;
margin: auto;
}
.servicios h3 {
line-height: 2;
}
@media (min-width: 1025px) {
.servicios {
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 2rem;
margin: 0 20rem;
}
}
@media (min-width: 769px) {
.servicios {
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 2rem;
margin: 0 5rem;
}
}
@media (max-width: 768px ) {
.servicios {
display: flex;
flex-direction: column;
row-gap: 2rem;
margin: 1rem 4rem;
}
}
.diseño-web{
background-color: var(--violeta);
}
.fotografia {
background-color: var(--celeste);
}
.ecommerce {
background-color: var(--verde);
}

/*formulario de contacto*/
.formulario {
background-color: var(--rosa);
width: min(60rem,100%);
margin: 0 auto;
padding: 2rem;
border-radius: 1rem;
}
.formulario fieldset{
border: none;
}
.formulario legend {
text-align: center;
font-size: 2rem;
text-transform: uppercase;
font-weight: 500;
margin-bottom: 2rem;
color: #595a5b;
}
@media (min-width: 768px) {
.contenedor-campos {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
column-gap: 1rem;
}  
}
.campo:nth-child(3),
.campo:nth-child(4) {
grid-column: 1 / 3;
}
.campo {
margin-bottom: 1rem;
}
.campo label {
color: var(--gris);
font-weight: 500;
margin-bottom: .5rem;
display: block;
}
.input-text {
width: 100%;
border: none;
padding: 1rem;
border-radius: .5rem;
}
.enviar {
background-color: var(--grisclaro);
}
.campo textarea {
height: 20rem;
}
.footer {
text-align: center;
}